<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= pessoa.data_de_nascimento %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= pessoa.altura %>
  </p>

</div>
