<% content_for :title, "Editing qualificacao" %>

<h1>Editing qualificacao</h1>

<%= render "form", qualificacao: @qualificacao %>

<br>

<div>
  <%= link_to "Show this qualificacao", @qualificacao %> |
  <%= link_to "Back to qualificacaos", qualificacaos_path %>
</div>
