body {
    text-align: center;
    background-color: rgb(67, 138, 231);
}

p {
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    padding: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(58, 58, 58);

    background-color: rgb(158, 235, 228);

    box-shadow: 4px 4x 10px black;
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 3px 5px black;
    color:rgb(82, 6, 153);

}