#contLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}


#btnConteiner{
    text-align: center;

}

.buttuns{
    padding: 10px;
    font: 1.5em;
    color: white;
    background-color: hsl(240, 68%, 58%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.35s;
}

.buttuns:hover{
    background-color: rgb(204, 199, 193);
}
