<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Dt nas:</strong>
    <%= pessoa.dt_nas %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= pessoa.altura %>
  </p>

</div>
