*{
    margin-top: 0px;
    margin-bottom: 0px;
}


body{
    margin: auto;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

#box1{
    background-color: red;
    margin:auto;
}

#box2{
    background-color: aqua;
    margin-left: 150px;
}