.dropdow button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdow a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.dropdow .content{
    display: none;
    position: absolute;
    background-color: rgb(183, 191, 199);
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdow:hover .content{
    display: block;
}

.dropdow:hover button{
    background-color: gray;
}

.dropdow a:hover{
    background-color: gray;
}