.pagination{
    text-align: center;

}

.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: hsl(120, 69%, 50%);
    border-radius: 15px;
    font-weight: bold;
}

.pagination a:hover:not(.activate){
    background-color: rgb(136, 136, 136);
    border-radius: 15px;
}

