*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    text-align: center;
    padding: 25px;
    background-color: rgb(230, 227, 223);

}

.navbar{
    background-color: black;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    text-align: center;
    padding: 25px;
    background-color: rgb(230, 227, 223);
}


@media screen and (max-width:750px) {
    aside,section, article {
        width: 100%;
    }
}