<% content_for :title, "New qualificacao" %>

<h1>New qualificacao</h1>

<%= render "form", qualificacao: @qualificacao %>

<br>

<div>
  <%= link_to "Back to qualificacaos", qualificacaos_path %>
</div>
