@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkgray;
    min-height: 100vh;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1{
    font-family: "Passion One", sans-serif;
    font-size: 10vw;
    font-variant: small-caps;

    text-align: center;

    padding-top: 50px;

    font-weight: bold;
}

header > p{
    padding-bottom: 50px;
    font-family: "Passion One", sans-serif;
    font-variant: small-caps;
    font-size: 2.5vw;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

main{
    color: white;
    line-height: 2em;
    font-size: 3vw;
    text-align: center;
}

section > p{
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;

    padding-left: 20px;
    
}



#primeiro{
    background-color: white;
    color: black;
    
    padding-top: 10vh;
    padding-bottom: 10vh;
      
}

#fundo-01{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;

    padding-top: 20px;
    padding-bottom: 20px;
}

#segundo{
    background-color: rgba(0, 0, 0, 0.11);

    color: white;
    text-shadow: 1px 1px 0px black;

    display: inline-block;

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding: 10px;

    margin: 5px;

    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;

    border-radius: 20px;
}


#terceiro{
    color: black;

    background-color: white;

    padding-top: 10vh;
    padding-bottom:10vh ;
}

#fundo-02{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;

    padding-top: 20px;
    padding-bottom: 20px;
}

#quarto{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.219);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;

    padding-top: 10vh ;
    padding-bottom: 10vh ;
    padding: 10px;
    
    margin: 5px;

    border-radius: 10px;

}

#quinto{
    background-color: white;

    color: black;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer{
    color: white;

    background-color: black;

    text-align: center;

    padding: 10px;

    font-size: 2vw;
    font-family: "Passion One", sans-serif;

}